[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
colorama = "*"
spotipy = "*"
yt-dlp = "*"
mongoengine = "*"
youtube-search = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
